<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Book Library</title>
    <link rel="stylesheet" type="text/css" href="/content/css/main.css" />
</head>
<body>
   <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/content/images/expressjs-card.png" alt="expressLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/add">Add Book</a></li>
                    <li><a href="/all">View All Books</a></li>
                </ul>
            </nav>
        </div>
    </header>
        {{{body}}}
    <footer>
        Copyright 2018
    </footer>
</body>
</html>